body {
    color: white;
    font-family: MS Gothic;
    text-align: center;
    text-transform: lowercase;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    max-height: auto;
    min-height: fit-content;
}
li {
    list-style-type: none;
    text-align: center;
}
* {
    box-sizing: border-box;
}
h1 {
    color: red;
    margin: 1rem 0;
    font-size: 2.5rem;
}
h2 {
    color: red;
    margin: 1rem 0;
    font-size: 1.5rem;
}

header {
    text-align: center;
    font-size: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    background: #000000;
    width: 100%;
    border-radius: 10px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}
footer {
    vertical-align: bottom;
    text-align: center;
    font-size: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    background: #000000;
    width: 100%;
    border-radius: 10px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}
html {
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: match-parent;
    vertical-align: center;
    min-height: 100vh;
    background-image: url("https://static.wixstatic.com/media/30b6de_79f9f81703c043bb8e230bb6176f0c04~mv2.gif");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    lang: en;
}
