---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Social from "../components/Social.astro";
import "../styles/audio.css";
import "../styles/global.css";
const pageTitle = "about";
---

<html>
    <header>
        <title>{pageTitle}</title>
        <Navigation />
    </header>

    <body>
        <h1>{pageTitle}</h1>
        <h2>My name is zane worthington</h2>

        <p>Here are a few facts about me:</p>
        <div></div>
        <p>
            I was born in pontiac and grew up in southern california. I now live
            and go to school in santa barbara. i go to school for english and
            french. i have aspirations of becoming a teacher or proffesor of
            language.
        </p>
        <div></div>
        <p>
            i have extensive knowledge of the adobe and affinity creation
            suites. as well as knowledge of multiple digital audio workstations.
            in my free time i create music or digital art. recently i have been
            learning how to draw as an extension of my design work. i also work
            on a tabletop-roleplaying game as the lead graphics designer.
        </p>
        <footer>
            <h2>links</h2>
            <Social platform="github" username="m1m1cu1" />
            <Social platform="spacehey" username="mimicui" />
            <Social platform="youtube" username="@m1m1cu1" />
            <Social platform="instagram" username="m1m1cu1" />
            <Social platform="steamcommunity" username="/id/m1m1cu1" />
            <Social
                platform="linkedin"
                username="in/zane-worthington-a23171240"
            />
        </footer>
    </body><style></style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


</html>
