---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Social from "../components/Social.astro";
import "../styles/audio.css";
import "../styles/global.css";
const pageTitle = "connect";
---

<html>
    <header>
        <title>{pageTitle}</title>
        <Navigation />
    </header>

    <body>
        <h1>{pageTitle}</h1>
        <footer>
            <h2>links</h2>
            <Social platform="github" username="m1m1cu1" />
            <Social platform="spacehey" username="mimicui" />
            <Social platform="youtube" username="@m1m1cu1" />
            <Social platform="instagram" username="m1m1cu1" />
            <Social platform="steamcommunity" username="/id/m1m1cu1" />
            <Social
                platform="linkedin"
                username="in/zane-worthington-a23171240"
            />
        </footer>
    </body><style></style>


</html>
